.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  pointer-events: none;
  border-radius: 5px;
  margin: 30px 20px 10px 20px;
}

.App-header {
  background-color: #5573af;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.App-link {
  color: #61dafb;
}

.Movie-list {
  margin: 15px;
}

.Error-message {
  background-color: rgb(211, 46, 74);
  color: white;
  padding-bottom: 3px;
  border-radius: 5px;
}

.Poster {
  width: 300px;
  border-radius: 5px;
}

.Search-bar {
  font-size: 18px;
  margin: 20px;
}